{% extends "1.1_base_cv.html" %}
{% block title %} Договір::{{ client.client_name }} {% endblock %}
{% block page %} <a href="{% url 'Clients:clients_mainlist' %}">Клієнти</a>
                | <a href="{% url 'Clients:client_cv' client.id %}">{{ client.client_name }}</a>
                | Договір № {{ agreement.client_agreement_number}} {% endblock %}
{% block left_column %}
    <h2 id="cv_employee_fullname"> Договір № {{agreement.client_agreement_number}}
                                    від {{agreement.client_agreement_date|date:"d.m.Y"}}<br>
                                    з {{agreement.client_id.client_name}}
    </h2>
    <table class = 'cv_table'>
        {% if agreement.client_agreement_description %}
            <tr>
                <th><p><b>Суть договору:</b></p></th>
                <td>{% for string in agreement_description %}
                        <p class='general_text_format'>{{ string }}</p>
                    {% endfor %}
                </td>
            </tr>
         {% endif %}
        {% if agreement.client_agreement_representative_name %}
            <tr>
                <th><p>Підписант Клієнта:</p></th>
                <td><p>{{agreement.client_agreement_representative_name}}</p></td>
            <tr>
        {% endif %}
        {% if agreement.client_agreement_representative_position %}
            <tr>
                <th><p>Посада підписанта (чи дані про довіреність):</p></th>
                <td><p>{{agreement.client_agreement_representative_position}}</p></td>
            <tr>
        {% endif %}
        {% if additional_agreements %}
            <tr>
                <th><p>Додаткові угоди:</p></th>
                <td>
                    {% for additional_agreement in additional_agreements %}
                        <p class="bold_text"><a href="{% url 'Clients:client_additional_agreement' additional_agreement.id %}">
                            Додаткова угода № {{additional_agreement.client_additional_agreement_number}}
                            від {{additional_agreement.client_additional_agreement_date|date:"d.m.Y"}}</a></p>
                    {% endfor %}
                </td>
            <tr>
        {% endif %}
    </table>
    <hr class="cv_line">
    <object type="application/pdf" data="/media/{{agreement.client_agreement_file}}" width="100%" height="1000px"></object>
{% endblock %}

{%block right_column %}
    <button onclick='location.href="{% url 'Clients:client_cv' client.id %}"' class="back_right_buttons">Клієнт</button>
    <select class="right_menu_selects" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="">Договори</option>
        {% for agreement in agreements %}
                <option value="">№ {{agreement.client_agreement_number}} від {{agreement.client_agreement_date}}</option>
        {% endfor %}
    </select>
    <select class="right_menu_selects" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="">Проекти</option>
        {% for client in clients %}
                <option value="">{{client.client_name}}</option>
        {% endfor %}
    </select>
{% endblock %}
