{% extends "base_site.html" %}
{% block static %} rel="stylesheet" href= '/../../static/Clients/style_Clients.css' {% endblock %}
{% block title %} Клієнт::{{ client.client_name }} {% endblock %}
{% block page %} <a href="{% url 'Clients:clients_mainlist' %}">Клієнти</a> | {{ client.client_name }} {% endblock %}

{% block body %}
    <div>
        <div class="colum-left_2_70_30">
            <div id="cv">
                <img src="/../static/images/paper_clip.png" id="cv_paper_clip">

                <h2 id="cv_employee_fullname"> {{client.client_name}} </h2>
                <table class = "client_cv_table">
                    <tr>
                        <th>Реєстраційний номер</th>
                        <td>{{client.client_taxID}}</td>
                    </tr>
                    {% if activities %}
                        <tr>
                            <th>Сфери бізнесу</th>
                            <td>
                                {% for activity in activities %}
                                    {{activity.client_activities}} |
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                     <tr>
                        <th>Юридична адреса</th>
                        <td>{{client.client_legal_address}}</td>
                    </tr>
                    <tr>
                        <th>Поштова адреса</th>
                        <td>{{client.client_postal_address}}</td>
                    </tr>
                    {% if phones %}
                        <tr>
                            <th>Контактні телефони</th>
                            <td>
                                {% for phone in phones %}
                                    {{phone.phone}} |
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                    {% if emails %}
                        <tr>
                            <th>Електронні адреси</th>
                            <td>
                                {% for email in emails %}
                                    {{email.client_email}} |
                                {% endfor %}
                            </td>
                        </tr>
                    {% endif %}
                </table>
                <hr class="cv_line">
                {% if managers %}
                    <p><b>МЕНЕДЖЕРИ:</b></p>
                    {% for manager in managers %}
                    <table class = "client_cv_table">
                        <td class = 'client_manager_name'>
                            <b>{{ manager.client_manager_name }}</b>
                        </td>
                        <td>
                            <table class = "client_cv_table">
                                {% if manager.client_manager_role %}
                                <tr>
                                    <th class = 'client_manager_name'>Посада/статус</th>
                                    <td>{{manager.client_manager_role}}</td>
                                </tr>
                                {% endif %}
                                {% if manager.client_manager_email %}
                                <tr>
                                    <th>Електронна адреса</th>
                                    <td>{{manager.client_manager_email}}</td>
                                </tr>
                                {% endif %}
                                {% if manager.client_manager_phone %}
                                <tr>
                                    <th>Контактний телефон</th>
                                    <td>{{manager.client_manager_phone}}</td>
                                </tr>
                                {% endif %}
                                {% if manager.client_manager_other_info %}
                                <tr>
                                    <th>Додаткова інформація</th>
                                    <td>{{manager.client_manager_other_info}}</td>
                                </tr>
                                {% endif %}
                            </table>
                        </td>
                        </table>
                        <p></p>
                    {% endfor %}
                {% endif %}
                <hr class="cv_line">
                {% if client.client_other_info %}
                    <p><b>ДОДАТКОВА ІНФОРМАЦІЯ:</b></p>
                    {% for string in client_other_info %}
                        <p id='client_other_info'>{{ string }}</p>
                    {% endfor %}
                {% endif %}
                <hr class="cv_line">
                {% if dates %}
                    <p><b>ВАЖЛИВІ ДАТИ:</b></p>
                    {% for date in dates %}
                        <p><b>{{ date.client_date}}</b> - {{ date.client_date_description }} </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="colum-right_2_70_30">
            <div>
                <div class="cases">
                    <select class="cv_list_info" onchange="window.location.href=this.options[this.selectedIndex].value">
                        <option value="">ПРОЕКТИ</option>
                        {% for client in clients %}
                                <option value="">{{client.client_name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
