{% extends "1.1_base_cv.html" %}
{% block title %} CV::{{ employee.full_name }} {% endblock %}
{% block page %} <a href="{% url 'Employees:cv_general' %}">Команда</a> | <a href="{% url 'Employees:cv_position' employee.position%}">{{ employee.position }}и</a> | {{ employee.full_name }} {% endblock %}

{% block left_column %}
    <img src="{{MEDIA_URL}}{{employee.foto.url}}" class="cv_photo">
    <h2 id="cv_employee_fullname"> {{employee.full_name}} </h2>
    {% if phones %}
        <h3>Контактні телефони:</h3>
        {% for phone in phones %}
            <ul>
                <li> <b>{{phone.phone}}</b> </li>
            </ul>
        {% endfor %}
    {% endif %}
    {% if emails %}
        <h3>Електронні адреси:</h3>
        {% for email in emails %}
            <ul>
                <li> <b>{{email.email}}</b> </li>
            </ul>
        {% endfor %}
    {% endif %}
    {% if attorney_license is not Null %}
        <h3>Свідоцтво адвоката:</h3>
        <p>серія <b>{{attorney_license.serial}} № {{attorney_license.number}}</b> видане {{attorney_license.date_receipt | date:'d.m.Y'}} р. {{ attorney_license.authority }}</p>
    {% endif %}
    {% if rewards %}
        <h3>Нагороди/відзнаки:</h3>
        {% for reward in rewards %}
            <ul>
                <li> <b>{{reward.reward_auth}}</b>: {{reward.reward}} ({{reward.reward_year}})</li>
            </ul>
        {% endfor %}
    {% endif %}
    <h3>Дата народження:</h3>
    {{employee.birth_date}}
    {% if educations %}
        <h3>Освіта:</h3>
        {% for education in educations %}
            <ul>
                <li> <b>{{education.phone}}</b> {{education.university}} ({{education.graduated_year}}) <br>(освітній ступінь '{{education.education_degree}}')</li>
            </ul>
        {% endfor %}
    {% endif %}
    {% if employee.other_info %}
        <h3>Додаткова інформація:</h3>
        {% for info in other_info %}
            <p class='general_text_format'>{{info}}</p>
        {% endfor %}
    {% endif %}
{% endblock %}

{%block right_column %}
    <select class="right_menu_selects" onchange="window.location.href=this.options[this.selectedIndex].value">
        <option value="{% url 'Employees:employee_cv' employee.id %}">КЛІЄНТИ</option>
        {% for client in clients %}
                <option value="{% url 'Clients:client_cv' client.id%}">{{client.client_name}}</option>
        {% endfor %}
    </select>
{% endblock %}
