{% extends "base_site.html" %}
{% block static %} rel="stylesheet" href= '/../../static/Employees/style_Employees.css' {% endblock %}
{% block title %} CV::Команда {% endblock %}
{% block page %} <a href="{% url 'Employees:cv_general' %}">Команда</a> | {{ position }}и {% endblock %}

{% block body %}
        <div class='cv_list'>
            <div class="cv_list_position">
                {% for employee in employees %}
                    <div class="cv_person">
                        <a href="{% url 'Employees:employee_cv' employee.id %}" class="cv_photo_href">
                            <img src="{{MEDIA_URL}}{{employee.foto.url}}" class="cv_photo">
                        </a>
                        <p class="cv_person_name"><b>{{ employee.last_name.upper}}<br></b> {{ employee.first_name }} {{ employee.patronymic }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}