{% extends "base_site.html" %}
{% block static %} rel="stylesheet" href= '/../../static/Employees/style_Employees.css' {% endblock %}
{% block title %} CV::{{ employee.full_name }} {% endblock %}
{% block page %} <a href="{% url 'Employees:cv_general' %}">Команда</a> | <a href="{% url 'Employees:cv_position' employee.position%}">{{ employee.position }}и</a> | {{ employee.full_name }} {% endblock %}

{% block body %}
    <div id="cv">
        <img src="/../static/images/paper_clip.png" id="cv_paper_clip">
        <img src="{{MEDIA_URL}}{{employee.foto.url}}" class="cv_photo">
        <h2 id="cv_employee_fullname"> {{employee.full_name}} </h2>
        <h3>Дата народження:</h3>
        {{employee.birth_date}}
        {% if phones %}
            <h3>Контактні телефони:</h3>
            {% for phone in phones %}
                <ul>
                    <li> <b>{{phone.phone}}</b> </li>
                </ul>
            {% endfor %}
        {% endif %}
        {% if emails %}
            <h3>Електронні адреси:</h3>
            {% for email in emails %}
                <ul>
                    <li> <b>{{email.email}}</b> </li>
                </ul>
            {% endfor %}
        {% endif %}
        {% if educations %}
            <h3>Освіта:</h3>
            {% for education in educations %}
                <ul>
                    <li> <b>{{education.phone}}</b> - {{education.university}} <br>(освітній ступінь '{{education.education_degree}}')</li>
                </ul>
            {% endfor %}
        {% endif %}
        {% if attorney_license is not Null %}
            <h3>Свідоцтво адвоката:</h3>
            <p>серія <b>{{attorney_license.serial}} № {{attorney_license.number}}</b> видане {{attorney_license.date_receipt}} {{ attorney_license.authority }}</p>
        {% endif %}
        {% if rewards %}
            <h3>Нагороди/відзнаки:</h3>
            {% for reward in rewards %}
                <ul>
                    <li> <b>{{reward.reward_auth}}</b>: {{reward.reward}} ({{reward.reward_year}})</li>
                </ul>
            {% endfor %}
        {% endif %}
        {% if employee.other_info %}
            <h3>Додаткова інформація:</h3>
            <p> {{ employee.other_info }}</p>
        {% endif %}
    </div>
{% endblock %}
